.container_{
    display: block;
    margin: 5%;
    margin-top: 10rem;
    margin-bottom: 13rem;
    box-shadow: 1rem 1rem 2rem 0.5rem rgba(0, 0, 0, 0.157);
    border-radius: 1rem;
    width: 90%;
    background-color: #fff;
    text-align: center;
}


/* ------------------------ Header -------- */
.header{
    display: inline-block;
    width:70%;
    position: relative;
    
}

.cta {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.foto{
    background: linear-gradient(rgb(0, 59, 117), rgb(0, 17, 17));
    width: 10rem;
    height: 10rem;
    position: relative;
    transform: translateY(-5rem);
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}
.pl{
    padding: 2REM 10PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pl-texts{
    width: 75%;
}


/* ------------------------ About ----------------- */

.about{
    text-align: center;
    
}
.about{
    position: relative;
    display: grid;
    left: 10%;
    border-radius: 0.3rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    width: 80%;
    gap: 1rem;
    padding: 1rem;
}

.skills{
    display: grid;
    background-color: rgba(113, 134, 163, 0.532);
    border-radius: 0.3rem;
    padding-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
.charla{
    text-align: left;
    
}



/* ------ Portfolio --------- */


.portfolio-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin: 2rem;
    border: 1px solid #fff;
}
.portfolio-titulo{
    margin-top: 4rem;
}
.items {
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.items h3{
    margin-top: 1rem;
}
.items:hover{
    border-color: var(--color-primary);
    background: transparent;
    
}
.cuadro{
    display:flex;
    gap:0.5rem;
    margin:1rem;
}

.items-img{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    transition: all 10s ease;
}
.items-img:hover {
    transform: traslateX(-10rem)
}

/* ----------- NAV ------------- */

.navetones {
    background: transparent;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow:hidden;
    padding: 1.5rem;
    top: 0;
    gap: 1rem;
    padding-bottom: 2rem;
    z-index: 100;
    
}
.nodriza a{
    padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    color: rgb(28, 28, 28);
    position: relative;
    left: 1rem;
    margin: 0.5rem;
    
}
.nodriza a:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 50%;
}



@media screen and (max-width: 1080px) {
    
    .container_{
        width: var(--container-width-md);
        margin: 7%;
        margin-top: 13rem;
        margin-bottom: 13rem;
    }
    .portfolio-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    }

@media screen and (max-width: 600px) {
    .container_{
        width: var(--container-width-sm);
        margin: 5%;
        margin-top: 13rem;
        margin-bottom: 10rem;
    }
    .portfolio-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .about{
        grid-template-columns: repeat(1, 1fr);
    }
    .pl{
        padding: 2REM 0.3REM;
    }
    .pl-texts{
        width: 90%;
    }
}

