.container_{
    margin: 10%;
    margin-top: 13rem;
    box-shadow: 1rem 1rem 2rem 0.5rem rgba(0, 0, 0, 0.157);
    border-radius: 1rem;
    
    background-color: #fff;
}


/* ------------------------ Header -------- */




.foto{
    background: linear-gradient(rgb(0, 59, 117), rgb(0, 17, 17));
    width: 10rem;
    height: 10rem;
    position: relative;
    transform: translateY(-5rem);
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}



/* ------------------------ About ----------------- */


.about-hola{
    position: relative;
    text-align: center;
    margin-top: 6rem;
}
.about{
    border: 1px solid rgb(19, 179, 91); 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    gap: 1rem;
    padding: 1rem;
}

.skills{
    border: 1px solid rgb(179, 68, 68);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.charla{
    text-align: left;
    
}


/* ------ Portfolio --------- */


.portfolio-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin: 2rem;
    border: 1px solid #fff;
}
.portfolio-titulo{
    margin-top: 4rem;
}
.items {
    background: var(--color-bg-variant);
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.items h3{
    margin-top: 1rem;
}
.items:hover{
    border-color: var(--color-primary);
    background: transparent;
    
}
.cuadro{
    display:flex;
    gap:0.5rem;
    margin:1rem;
}

.items-img{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    transition: all 10s ease;
}
.items-img:hover {
    transform: traslateX(-10rem)
}



/* ----------- NAV ------------- */

.navetones {
    background: transparent;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 4rem;
    display: flex;
    position: fixed;
    overflow: hidden;
    padding: 1.5rem;
    top: 0;
    gap: 1rem;
    padding-bottom: 2rem;
}
.nodriza a{
    padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    color: rgb(28, 28, 28);
    position: relative;
    left: 1rem;
    margin: 0.5rem;
    
}
.nodriza a:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 50%;
}




